html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 16px;
    max-width: 100%;
    margin: 0 auto;
}

header {
    text-align: center ;
    padding: 0;
    position: sticky;
}

button {
    background-color: black;
    color: #ffd700;
    border: none;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-flex;
    font-size: 18px;
    margin-bottom: 0;
}

button:hover {
    box-shadow: 0 0 4px 2px white;
}

#navbar {
  background-color: midnightblue;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height:80px;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
    font-weight: 600;
    font-size: 24px;
}


nav ul li {
    padding-right: 10px;
    border: none;
    border-radius: 8px;
    margin-right: 15px;
}

nav ul li a {
    color: #ffd700;
    text-decoration: none;
}

nav ul li a:hover {
    color:#fff;
}

header h1 {
    margin: 0;
}

#welcome-section {
    text-align: center;
    padding-top: 250px;
    padding-bottom: 200px;
    height: 100%;
}

.hello {
    text-align: center;
    font-size: 45px;
    color: midnightblue;
    margin-bottom: -35px;
}

.name {
    font-size: 120px;
}

.who {
    font-size: 60px;
}

.about-me,
.projects,
.contact {
    font-size: 36px;
    padding: 20px 0;
}

.container-two {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 16px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
}

section h2 {
    color: midnightblue;
}

p {
    line-height: 4rem;
    margin-left: 175px;
    margin-right: 175px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    text-align: left;
}


h4 {
    font-size: 40px;
    color: #ffd700;
    }

#skill {
    width: 30vw; /* Set a small width */
    display: flex;
    text-align: center;
    margin: 0 auto;
}

#skill-1 {
    width: 10vw; /* Set a small width */
    display: flex;
    text-align: center;
    margin: 20px auto 0 auto;
}

footer {
    background-color: midnightblue;
    color: #ffd700;
    text-align: center;
    padding: 0 20px;
    height: 85px;
}

.footer-text {
    padding-top: 20px;
    font-size: 22px;
    text-align: center;
}

.thumbnail {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    max-width: 60%;
    margin: 0 auto;
}

#icon {
    width: 200px; /* Set a small width */
}

.thumbnail:hover {
    box-shadow: 0 0 8px 4px rgba(0, 140, 186, 0.5);
}


#profile-link {
    margin: 0 auto;
  text-align: center;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 12px;
  font-size: 24px;
}

#profile-link:hover {
    background: black;
}

.profile-link {
    color: #ffd700;
}

/* Responsive Styles */
@media screen and (max-width: 430px) {
    .name {
        font-size: 70px;
    }
    
    #navbar ul{
        font-size: 14px;
    }

    button {
        font-size:14px;
    }

    .footer-text {
        font-size: 14px;
    }
}

@media only screen and (max-width: 960px) {

    .name {
        font-size: 100px;
    }

    nav ul {
        font-size: 18px;
    }

    button {
        margin-top: 10px;
        font-size: 14px;
        padding: 5px 10px;
    }

    #welcome-section {
                padding-top:200px;
                padding-bottom: 150px;
    }

    .hello {
        text-align: center;
    }

    p {
        font-size: 28px;
        margin: 0 30px;
        line-height: 2;
    }

    #about-me, #projects, #contact {
        font-size: 36px;
    }

    h3 {
        font-size: 36px;
    }

    #skill {
        width: 70vw;
    }

    #skill-1 {
        width: 25vw;
    }

    h4 {
        font-size: 32px;
    }

    .footer-text {
        font-size: 18px;
    }
}
